
@{
    ViewData["Title"] = "DisplayOptions";
}

<h1>DisplayOptions</h1>

<div>
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <a asp-action="DisplayCustomers" asp-area="" asp-controller="AdminCustomer" class="btn ">List Customers</a>
        <a asp-action="DisplayCars" asp-area="" asp-controller="AdminCar" class="btn ">List Cars</a>
        <a asp-action="DisplayOrders" asp-area="" asp-controller="AdminCustomerOrder" class="btn ">List Orders</a>

    </div>
</div>






