@model Projektuppgift.ViewModels.CarCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CarCreateViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label">Märke</label>
                <select asp-for="Brand" class="form-control" asp-items="Model.BrandList" onchange="this.form.submit()">
                    <option value="">Choose Brand</option>
                </select>
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label">Modell</label>
                <select asp-for="Model" class="form-control" asp-items="Model.ModelList">
                    <option value="">Choose Model</option>
                </select>
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Images" class="control-label">Länkaddress till bilder</label>
                <input asp-for="Images" class="form-control" />
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DisplayCars">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
